---
const { links, align } = Astro.props;

const activeLinks = Object.entries(links).filter(([_, url]) => url && url !== '');

let listClasses = 'mt-2 flex flex-wrap gap-3';

if( align === 'center' ) {
  listClasses = listClasses + ' justify-center';
}
---

{activeLinks.length > 0 && (
  <ul class={listClasses}>
    {activeLinks.map(([title, url]) => (
      <li>
        <a href={url} class="hover:text-body hover:underline focus:text-body transition-colors duration-500">
          {title}
        </a>
      </li>
    ))}
  </ul>
)}