---
import FooterMenu from "./FooterMenu.astro";

const { txt, links, align, class: className } = Astro.props;

let footerClasses = 'text-sm text-muted';

if( align === 'center' ) {
  footerClasses = footerClasses + ' text-center';
}
---

<footer class:list={[footerClasses, className]}>
    <p>{ txt }</p>
    <FooterMenu links={ links } align={ align } />
</footer>