---
const { name, bio, avatar } = Astro.props;
const baseUrl = import.meta.env.BASE_URL

const avatarSrc = avatar 
  ? `${baseUrl}img/${avatar}`
  : `${baseUrl}img/default.webp`;

---

<header class="mt-4 mb-12 mx-auto max-w-prose w-full">

    <a href={import.meta.env.BASE_URL || './'} class="block">
      <div>
        <h1 class="font-semibold text-lg">{ name }</h1>
        {bio && <p class="text-muted">{bio}</p>}
      </div>
    </a>
</header>