---
const { links } = Astro.props;

const activeLinks = Object.entries(links).filter(([_, url]) => url && url !== '');
---
{activeLinks.length > 0 && (
  <ul class="grid gap-2 mb-6">
    {activeLinks.map(([title, url]) => (
      <li>
        <a href={url} class="block bg-light p-3 hover:bg-accent hover:scale-103 focus:scale-103 focus:bg-accent transition duration-500 font-medium" target="_blank" rel="noopener noreferrer">
          {title}
        </a>
      </li>
    ))}
  </ul>
)}